<!-- <form #recipeForm="ngForm" (ngSubmit)="addRecipe(recipeForm)">
    <div>
      <label for="title">Title:</label>
      <input type="text" name="title" id="title" placeholder="Enter recipe title" [(ngModel)]="recipe.title" required>
    </div>
    <div>
      <label for="ingredients">Ingredients:</label>
      <textarea name="ingredients" id="ingredients" placeholder="Enter recipe ingredients" [(ngModel)]="recipe.ingredients" required></textarea>
    </div>
    <div>
      <label for="preparation">Preparation:</label>
      <textarea name="preparation" id="preparation" placeholder="Enter recipe preparation" [(ngModel)]="recipe.preparation" required></textarea>
    </div>
    <div>
      <label for="images">Image:</label>
      <!-- <input type="file" (change)="onFileSelected($event)" name="images" id="images" required> -->
      <input type="file" multiple value="select" #selectFile (change)="onFileSelected($event)" name="images" id="images" required>
    </div>
    <button type="submit">Save Recipe</button>
  </form>
   -->