<!DOCTYPE html>
<html>
<head>
  <title>My Cookbook</title>
</head>
<body>
  <!-- Navigation bar -->
  <div class="navbar">
    <a href="#">Home</a>
    <a href="#">Add Recipe</a>
    <a href="#">Cookbook</a>
    <a href="#">Log in/Register</a>
  </div>

  <!-- Recipe form -->
  <form #recipeForm="ngForm" (ngSubmit)="addRecipe(recipeForm)">
    <div>
      <label for="title">Title:</label>
      <input type="text" name="title" id="title" placeholder="Enter recipe title" [(ngModel)]="recipe.title" required>
      <label for="ingredients">Ingredients:</label>
      <textarea name="ingredients" id="ingredients" placeholder="Enter recipe ingredients" [(ngModel)]="recipe.ingredients" required></textarea>
      <label for="preparation">Preparation:</label>
      <textarea name="preparation" id="preparation" placeholder="Enter recipe preparation" [(ngModel)]="recipe.preparation" required></textarea>
    </div>
    <div>
      <label for="images">Image:</label>
      <input type="file" multiple value="select" #selectFile (change)="onFileSelected($event)" name="images" id="images" required>
      <div *ngFor="let image of recipe.images">
        <img [src]="image.url" alt="{{image.file}}">
      </div>
    </div>
    <button type="submit">Save Recipe</button>
  </form>

  <!-- Footer -->
  <footer>
    <p>Copyright © 2023 My Cookbook</p>
    <p>About Me | Impressum</p>
  </footer>
</body>
</html>

   
