/* Style for the navigation bar */
.navbar {
  background-color: #333;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.navbar a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Style for the recipe form */
form {
  display: flex;
  flex-direction: row;
  margin-top: 70px; /* adjust this value to match your navbar's height */
}

form > div {
  margin: 10px;
  flex: 1;
}

form > div:first-child {
  flex: 0 0 150px;
}

form input[type=text], form textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: none;
}

form button[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button[type=submit]:hover {
  background-color: #45a049;
}

form label {
  font-weight: bold;
}

form img {
  max-width: 100%;
  height: auto;
}

/* Style for the preview container */
.preview-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: calc(100vh - 70px - 50px); /* adjust the top and bottom margins to match your navbar and footer heights */
  overflow-y: auto;
  margin-top: 70px; /* adjust this value to match your navbar's height */
  margin-bottom: 50px; /* adjust this value to match your footer's height */
}

.preview-container img {
  max-width: 100%;
  height: auto;
}

/* Style for the footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: #f2f2f2;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
}
